- @premium_advertisements = Advertisement.premium_ads.limit(@site_configuration.maximum_premium_ads_per_page)
- @free_advertisements = Advertisement.free_ads.page(params[:page]).per(@site_configuration.maximum_free_ads_per_page)

- @premium_advertisements.each do |ads|
  .contentleft.premium
    %h1
      = link_to ads.title, advertisement_path(ads.slug), :target => :_blank, :class => :date
    .tgl= ads.created_at.strftime("%d, %B %Y") + " | Dibaca #{ads.times_readed.present? ? ads.times_readed : 0 } kali"
    .desc
      = image_tag ads.image_url(:thumb)
      = truncate(ads.content.html_safe, :length => 200)
    .labelnya Iklan Premium
    
- @free_advertisements.each do |ads|
  .contentleft
    %h1
      = link_to ads.title, advertisement_path(ads.slug), :target => :_blank, :class => :date
    .tgl= ads.created_at.strftime("%d, %B %Y") + " | Dibaca #{ads.times_readed.present? ? ads.times_readed : 0 } kali"
    .desc
      = image_tag ads.image_url(:thumb)
      = truncate(ads.content.html_safe, :length => 200)
    .labelnya Iklan Gratis

= paginate @free_advertisements