= form_tag :url => advertisements_path, :multipart => true, :method => :post do
  %table
    %tr
      %td= label_tag 'Nama'
      %td :
      %td= text_field_tag "advertisement[name]"
    %tr
      %td= label_tag 'Email'
      %td :
      %td= text_field_tag "advertisement[email]"
    %tr
      %td= label_tag 'Kota'
      %td :
      %td= text_field_tag "advertisement[city]"
    %tr
      %td= label_tag :telepon
      %td :
      %td= text_field_tag "advertisement[phone]"
    %tr
      %td= label_tag 'Tipe Iklan'
      %td :
      %td
        = select_tag 'advertisement[advertisement_type_id]', 
          options_from_collection_for_select(AdvertisementType.all, :id, :name), :onchange => "showprice(event,'showprice2');"
        %br
        %table#showprice2{:style => "display:none"}
          %tr
            %td= label_tag "Lama"
            %td :
            %td= select_tag "advertisment[advertisment_price_id]", options_from_collection_for_select(AdvertisementPrice.all, :id, :name)
    %tr
      %td= label_tag 'Kategori Iklan'
      %td :
      %td
        %select{:id => :advertisement_advertisement_category_id, :name => "advertisement[advertisement_category_id]"}
          - advertisement_category.each do |ac|
            - if ac.sub_category.present?
              %option{:disabled => :disabled}= ac.name
              - ac.sub_category.each do |sub|
                %option{:value => sub.id}= "&nbsp;&nbsp;#{sub.name}".html_safe
                
    %tr
      %td= label_tag 'Judul'
      %td :
      %td= text_field_tag 'advertisment[title]'
    %tr
      %td= label_tag 'Website'
      %td :
      %td
        = text_field_tag 'advertisement[site]'
        %br
        %p.red_notif mohon sertakan http:// pada website anda
    %tr
      %td= label_tag :isi
      %td :
      %td= text_area_tag 'advertisement[content]', '', :cols => 34, :rows => 5
    %tr
      %td= label_tag 'label/tag'
      %td :
      %td
        = text_field_tag "advertisement[tag]"
        %p.red_notif
          Kata atau phrase yang mewakili iklan
          %br
          Anda, pisahkan dengan koma (,).
          %br
          Contoh: iklan, free ads
    %tr
      %td Gambar
      %td :
      %td= file_field_tag 'advertisement[image]'
    %tr
      %td
      %td
      %td= submit_tag "Submit"

